/* Feedback Message Styling */
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none; /* Initially hide the feedback message */
}

/* Move the page content down when the form is submitted */
.moveDown {
    margin-top: 3em;
}

/* Basic form styling */
form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
